*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Helvetica, Arial, sans-serif;

}
p{
	display: inline-block;
	width: 400px;
}
.p-name{
	font-weight: bold;
}
.p-title{
	font-weight: 200;
}
header{
	/*background-color: #3949AB;*/
	background-color: steelblue;
	color: white;
	text-align: center;
}
h1{
	display: inline-block;
	width: 400px;
	font-weight: 700;
}
.content-div{
	/*background-color: #F06292;*/
	background-color: tomato;
	text-align: center;
}
